# venv 
myenv/

# datasets
datasets/archive/*
# test
tests/

# checkpoint files
checkpoints/init
checkpoints/cmodel
checkpoints/step-50
checkpoints/step-100
checkpoints/step-149
checkpoints/SSR_checkpoint.pt
checkpoints/SSR_checkpoint.onnx

# cache files
__pycache__/
*/__pycache__/
.ipynb_checkpoints/